/* La paleta de colores usados son:
#4a4a4a (Texto del menú)
#3CDBC0 (color de fondo de la página)
#FFFFFF (Color de texto de "Creando diversidad digital") */


*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px blue solid; */
    
}

body{
    background-color:#3CDBC0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    min-height: 100vh;
}

header{
    width: 100%;
    background-color: white;
    position: fixed;
    text-align: center;
    
}

.logo{
    display: inline-block;
    padding-top: 10px;
    width: 155px;
    height: 61px;
}

.menu{
    width:100%;
    font-size: 16px;
    position: relative;
    background-color:white;
}

.menu_ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.menu_li{
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    color: #4a4a4a;
}


.main{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700; 
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;   
    line-height: 1.4;
    top:50%;
    left:50%;
}
