/* La paleta de colores usados son:
#4a4a4a (Texto del menú)
#3CDBC0 (color de fondo de la página)
#FFFFFF (Color de texto de "Creando diversidad digital") */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px blue solid;    */
}

body{
    background-color:#3CDBC0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    min-height: 100vh;
}

/* HEADER */

.header-content{
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;   
}

.logo{
    display: inline-block;
    padding-top: 10px;
    width: 155px;
    height: 61px;
}

.menu{
    width:100vw;
    font-size: 16px;
    position: relative;
    background-color:white;
}

.menu__list{
    display: flex;
    justify-content: center;
    list-style-type: none; 
    padding: 10px 0 13px;   
}

.menu__element{
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    color: #4a4a4a;
    text-transform: uppercase;
}

/* HEADER FOR TABLET/DESKTOP */
@media all and (min-width:768px){
    .menu__element{
        font-size: 16px;
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }

    .logo{
        padding: 0;
    }

    .menu {
        align-content: center;
        justify-content: flex-end;
    }
}



/* MAIN */

.main-content{
    position: relative;
}
.title{
    height: 100vh;
    width: 250px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700; 
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;   
    line-height: 1.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0)
}

/* MAIN FOR TABLET/DESKTOP */
@media all and (min-width:768px){
    .title{
        font-size: 40px;
    }
 
}
